# API Configuration
VITE_API_URL=http://localhost:5001/api

# Google Authentication
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here

# Email Configuration (For OTP Sending)
EMAIL_USER=authsystem27@gmail.com
EMAIL_PASSWORD=yunmazjqlbdnnqux

# Firebase Configuration
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0460035266

